@media screen and (max-width: 500px) {
	html {
		font-size: 35%;
	}
	body {
		width: 100%;
	}

	img {
		width: 30% ;
	}

	#section1 .dog-food-img{
		display: none;
	}

	#section0 .nav {
		display: none;
	}

	#section0 i {
		display: block;
    font-size: 5rem;
    opacity: 0.5;
	}

	.title {
		width: 65%;
	}

  #section1 .section1-content {
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0;
  }

  .section1-content .section1-desc {
    width: 95%;
  }

  #section2 .dog-sound {
    display: none;
  }

  #section2 .dog-img {
    top: 50%;
    z-index: 1;
  }

  #section2 .section2-text {
    padding: 0 2rem;
  }

  #section3 {
    padding: 6rem;
  }

	#section3 .section3-img{
		width: 5%;
	}

	#section3 .section3-dog-img,
	.section3-img {
		display: none;
	}

  #section4 {
    flex-direction: column;
    align-items: center;
    padding: 6rem;
  }

	#section4 .input-field {
		max-width: 20rem;
		min-width: 0;
	}

  #section4 .section4-content {
    max-width: 100%;
    margin-top: 4rem;
  }

	#section4 .dog-img {
		/* display: none; */
    top: 2rem;
    left: 70%;
	}

	#section5 {
		padding: 6rem;
	}

	#section6 .section6-logo {
		left: 65rem;
	}

	#section6 .nav-list {
		display: none;
	}

	#section6 .social-media li + li {
		margin-left: -6rem;
	}

	#section6 .social-media {
		display: none;
	}
}

@media screen and (min-width: 501px) and (max-width: 1200px){
	html {
		font-size: 40%;
	}
	body {
		width: 100%;
	}

	img {
		width: 30% ;
	}

	.title {
		width: 65%;
	}

  #section1 .section1-content {
    flex-direction: column;
    align-items: center;
  }

  #section2 .dog-sound {
    display: none;
  }

  #section2 .dog-img {
    display: none;
  }

	#section3 .section3-img {
		width: 5%;
	}

	#section4 .input-field {
		max-width: 20rem;
		min-width: 0;
	}

	#section4 .dog-img {
		display: none;
	}

	#section5 {
		padding: 15rem 10rem 10.5rem 15rem;
	}

	#section6 .nav-list {
		max-width: 40rem;
	}

	#section6 .social-media {
		display: none;
	}
}

@media screen and (min-width: 1000px)and (max-width: 1440px){
	body {
		width: 100%;
	}
}

